<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: header('Create Post')" ></head>

<body>
    <div th:replace="fragments :: navbar"></div>
    <br />
    <h4>Creating Blog...</h4>

    <main>
        <form th:action="@{/posts/create}" th:method="post">
            <div class="container">
                <div class="form-row">
                <div class="form-group col-8 align-self-center">
                <label for="title">Blog Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Blog Title Here" />
            </div>
            <div class="form-group">
                <label for="body">Blog </label>
                <textarea class="form-control" name="body" id="body" rows="8" cols="14"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Post</button>
            </div>
            </div>
        </form>
    </main>


    <div th:replace="fragments :: scripts"></div>
</body>
</html>