<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments :: header('All Posts')"></head>

</head>
<body>
    <div th:replace="fragments :: navbar"></div>
    <main>
        <h3 class="split-header">Blog posts...</h3>

        <div class="container">
            <div class="row">
                <div class="col-8">
        <th:block th:each="post: ${posts}">
                <div class="card" style="width: 25rem">
                    <img th:src="${'/uploads/' + post.image}" class="card-img-top" alt="blog header img" />
                <div class="card-body">
                    <input type="hidden" name="user" th:value="${post.getUser().getEmail()}"/>
                    <a th:href="@{/posts/{id}(id=${post.id})}"><h5 th:text="${post.title}" class="card-title"></h5></a>
                    <!--<h6 class="card-subtitle mb-2 text-muted">Date Placeholder</h6>-->
                    <p class="card-text text-overflow" th:text="${post.body}"></p>
                    <a th:href="@{/posts/{id}(id=${post.id})}" ><button class="card-button">Read</button></a>
                    <form th:action="@{/posts/edit/{id}(id=${post.id})}" th:method="get">
                        <button th:value="${post.id}" th:name="id" class="card-button">Edit</button>
                    </form>
                    <form th:action="@{/posts/delete}" th:method="post">
                        <button th:value="${post.id}" th:name="id" class="card-button">Delete</button>
                        </form>
                    </div>
                </div>
        </th:block>
            </div>
          </div>


            <!--<div class="row">-->
                <!--<div class="col s12 m7">-->
                    <!--<div class="card">-->
                        <!--<div class="card-image">-->
                            <!--<img src="images/sample-1.jpg">-->
                            <!--<span class="card-title">Card Title</span>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                                <!--I am convenient because I require little markup to use effectively.</p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="#">This is a link</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </main>


    <div th:replace="fragments :: scripts"></div>
</body>
</html>