<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments :: header('All Posts')"></head>

</head>
<body>
    <div th:replace="fragments :: navbar"></div>
    <main>
        <h3 class="split-header">Blog posts...</h3>

        <div class="container">
            <div class="row">
                <div class="col-8">
        <th:block th:each="post: ${posts}">
                <div class="card" style="width: 25rem">
                    <img th:src="${'/uploads/' + post.image}" class="card-img-top" alt="blog header img" />
                <div class="card-body">
                    <input type="hidden" name="user" th:value="${post.getUser().getEmail()}"/>
                    <a th:href="@{/posts/{id}(id=${post.id})}"><h5 th:text="${post.title}" class="card-title"></h5></a>
                    <!--<h6 class="card-subtitle mb-2 text-muted">Date Placeholder</h6>-->
                    <p class="card-text" th:text="${post.body}"></p>
                    <a th:href="@{/posts/{id}(id=${post.id})}" ><button class="card-button">Read</button></a>
                    <form th:action="@{/posts/edit/{id}(id=${post.id})}" th:method="get">
                        <button th:value="${post.id}" th:name="id" class="card-button">Edit</button>
                    </form>
                    <form th:action="@{/posts/delete}" th:method="post">
                        <button th:value="${post.id}" th:name="id" class="card-button">Delete</button>
                        </form>
                    </div>
                </div>
        </th:block>
            </div>
          </div>
        </div>
    </main>


    <div th:replace="fragments :: scripts"></div>
</body>
</html>