<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments :: header('All Posts')"></head>

</head>
<body>
    <div th:replace="fragments :: navbar"></div>

<main>
    <th:block th:each="post: ${posts}">
        <form th:action="@{/posts/delete}" th:method="post">
        <div class="card" style="width: 18rem;">
            <img th:src="${'/uploads/' + post.image}" class="card-img-top" alt="..." />
        <div class="card-body">
            <input type="hidden" name="id" th:value="${post.id}"/>
            <a th:href="@{/posts/{id}(id=${post.id})}"><h5 th:text="${post.title}" class="card-title"></h5></a>
            <!--<h6 class="card-subtitle mb-2 text-muted">Date Placeholder</h6>-->
            <p class="card-text" th:text="${post.body}"></p>
            <a th:href="@{/posts/{id}(id=${post.id})}" class="card-link"><button>Read</button></a>
            <a th:href="@{posts/delete}" class="card-link"><button>Delete</button></a>
        </div>
    </div>
        </form>
    </th:block>
</main>


    <div th:replace="fragments :: scripts"></div>
</body>
</html>