<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments :: header('Resume | Sarah Barron')"></head>

</head>
<body id="resume-bg">
    <div th:replace="fragments :: navbar"></div>


    <h1>SARAH BARRON</h1>
    <h5 class="split-header">&lt;Software Developer/&gt;</h5>

    <h4>{ABOUT ME}</h4>
    A background in sociology, in conjunction with my personal curiosity, inspires my persistent quest for understanding the development, structure, and functioning parts of programming. My resilience and problem-solving nature drives my passion for being able to contribute to, and be part of the ever-evolving technology field.


    <h4>{EDUCATION}</h4>

    <p>Codeup 2019 <br/>
        Certificate of Completion-Full Stack Web Development Bootcamp

        A fully-immersive project-based, and intensive 18 week full stack Java career accelerator that provides students with 600+ hours of expert instruction in software development.</p>
    <br/>

    <p>University of Texas at San Antonio 2012 <br/>
        Bachelor of Arts- Sociology</p><br/>


    <h4>{SKILLS}</h4>
    <p>
        HTML5 | CSS3 | BOOTSTRAP | JAVA-EE | BOOTSTRAP |
        JQUERY | JAVASCRIPT-ES6 | MYSQL | SPRING BOOT |
        GIT VERSION CONTROL
    </p>


    <h4>{PROJECTS}</h4>

    <h6>Mentor_Listor</h6>
    <a href="https://pink-ads.github.io/mentor-listor/">https://pink-ads.github.io/mentor-listor/</a>
    <p>Full stack web application using the MVC design pattern with Java to interact with a MySQL database and dynamically display html pages</p>


    <h6>The_Coffee_Project</h6>
    <p>Javascript rendered web app with dynamic search using jQuery</p>

    <h6>Movie_Application</h6>
    <p>Single page interactive movie application utilizing Node.js to dynamically update html using AJAX requests</p>


    <h4>{WORK HISTORY}</h4>

    <h6>CVS Caremark</h6>
    <p>Quality Coordinator- Lead
        July 2016 – Nov 2018
        Processed phone and fax prior authorization
        audits and analyzed internal processes.
        Recommended and implemented procedural
        policy changes to improve business operations.</p>

    <h6>Security Service Federal
        Credit Union</h6>
    <p>Member Relationship Representative
        May 2013 – July 2014
        Independently resolved problems and
        customers' concerns involving personal and
        business accounts, processed loan
        applications, processed all needed teller
        transactions.</p>

    <h6>Pharmacy Technician</h6>
    <p>Jan 2015 – July 2016
        Received, reviewed and processed prior
        authorization requests in accordance to
        company and Medicare Part D CMS regulatory
        agency standards.</p>

    <h6>STUDIO 2410- Sports Photography Studio</h6>
    <p>Business Manager and Supervisor
        Mar 2011 – Aug 2013
        Directed and coordinated all business needs
        and activities including hiring and staffing,
        scheduling photo sessions, managed
        production, pricing, sales, and distribution of
        products. Solely resolved all customer service
        questions and issues through phone calls,
        texts, and email.</p>


    <p><a href="github.com/barronsarah"><i class="fab fa-github"></i>GitHub</a></p>
    <p><a href="linkedin.com/in/sarah-e-barron"><i class="fab fa-linkedin"></i>LinkedIn</a></p>
    <p><i class="fas fa-mail-bulk"></i>s.barron2338@gmail.com</p>


    <div th:replace="fragments :: scripts"></div>
</body>
</html>