<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header('Login')" ></head>
<div th:replace="fragments :: navbar"></div>
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>
<body>
    <h2 class="split-header">Log In</h2>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-row">
            <div class="form-group col-8 align-self-center">
                <label for="username">Username</label>
        <input id="username" name="username" type="text" class="form-control"/>
            </div><br/>
            <div class="form-group col-8 align-self-center">
            <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control"/>
        <input type="submit" value="Log In" class="card-button"/>
            </div>
        </div>
    </form>

    <div th:replace="fragments :: scripts"></div>
</body>
</html>
