<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title >500 Error</title>
    <style>
        h2{
            align-content: center;
        }
    </style>
</head>
<body>
    <h2>YOU'VE ENTERED THE WORLD OF NOPE.</h2>
    <br />
    <p>Watch a video instead</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XCdWVa2p2_Q?start=9"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
    
</body>
</html>